---
import type { GetStaticPaths } from "astro";
import { getAllPosts } from "../../../../utils/getAllPosts";
import PostsLayout from "../../../../layouts/PostsLayout.astro";

export const getStaticPaths = (async({paginate}) => {
  const posts = await getAllPosts()
  const uniqueTags = [...new Set(posts.map(post => post.data.tag).flat())]
  return uniqueTags.flatMap((tag) => {
    const filteredPosts = posts.filter(post => post.data.tag.includes(tag))
    return paginate(filteredPosts, {
      params: {tag},
      pageSize: 20
    })
  })
}) satisfies GetStaticPaths;

const {page} = Astro.props
const params = Astro.params
---

<PostsLayout title={params.tag} page={page}>
  <a href="/posts/" class="block my-3">back to all</a>
</PostsLayout>