---
import Layout from "./Layout.astro";
import ImageFrame from "../modules/ImageFrame.astro";
const {frontmatter} = Astro.props
---

<Layout title={frontmatter.img}>
  <div class="grid gap-5">
    <h1>{frontmatter.img}</h1>
    <div transition:name={frontmatter.img}>
      <ImageFrame srcPaths={[`photos/${frontmatter.img}.jpg`]} />
    </div>
    <p>
      camera: {frontmatter.camera}
      <br>
      film: {frontmatter.film}
    </p>
    <slot />
    <a href="/photo/">back</a>
  </div>
</Layout>